<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="InfoModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <InfoModule.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>InfoModule</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Информационный модуль</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>Информация</value>
            </setting>
            <setting name="ReplicationServiceUrl" serializeAs="String">
                <value>http://nsd-srv/nsd2_Webservice/ReplicationStarter.asmx</value>
            </setting>
            <setting name="HelpPath" serializeAs="String">
                <value />
            </setting>
        </InfoModule.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
