<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OtgrModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OtgrModule.Properties.Settings>
            <setting name="Name" serializeAs="String">
                <value>OtgrModule</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Модуль обработки отгрузки</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Header" serializeAs="String">
                <value>Отгрузка</value>
            </setting>
            <setting name="KodfsSelMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
        </OtgrModule.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
