<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CommonModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CommonModule.Properties.Settings>
            <setting name="RS_ServerUrl" serializeAs="String">
                <value>http://db2/reportserver</value>
            </setting>
            <setting name="IsShowCommandLabels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScreenshotsPath" serializeAs="String">
                <value>Screenshots\screenshot.png</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>Realization.log</value>
            </setting>
            <setting name="MaxLogLength" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="NeedSignsForPoupModes" serializeAs="String">
                <value />
            </setting>
        </CommonModule.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
